div.main {
  min-height: 100vh;
  padding-bottom: 60px;
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  footer {
    display: flex;
    position: relative;
    bottom: 0;
    margin-top: -60px;
    height: 60px;
    clear: both;
    background-color: $color-primary;
    color: white;
    justify-content: center;
    width: 100%;

    span {
      align-self: center;
      text-align: center;
    }
  }
}

header{
  height: 33vh;
  background: url('../images/ddbg.webp') center bottom;
  background-size: cover;
  text-align: center;

  &>div{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items:center;
      &>h1>a{
          font-family: 'Grenze Gotisch';
          font-size:4rem;
          color: white;
          text-shadow:
            -3px -3px 0 #000,  
             3px -3px 0 #000,
             -3px 3px 0 #000,
              3px 3px 0 #000;
      }
  }
}


.card-footer {
  display: flex;
  justify-content: center;
  &>button{
      background-color: $color-primary;
      border: none;
      &:hover,&:focus{
          background-color: $color-primary;
          box-shadow: 0 0 10px black;
      }
      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active {
        background-color: $color-secondary;
        box-shadow: 0 0 10px black;
    
        &:focus {
          background-color: $color-secondary;
          box-shadow: 0 0 10px black;
        }
      }
  }
}

